<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/" xmlns:sfdc="http://salesforce.com/2016/federatedsearch/1.0">
	<ShortName>Salesforce Federated Search and Watson Discovery</ShortName>
	<Contact>mail@winkelmeyer.com</Contact>
	<Url type="application/atom+xml" sfdc:maxTotalResults="500"
template="https://{{hostname}}/ossInterface?q={searchTerms}&amp;byId={sfdc:searchById?}&amp;type={sfdc:recordType}&amp;start={startIndex?}&amp;num={count?}"/>
	<sfdc:RecordTypes>
		<sfdc:RecordType name="Watson Discovery">
<sfdc:Field name="Product_Group_1" type="string" sortable="true"/>
<sfdc:Field name="Product_Line_2" type="string" sortable="true"/>
<sfdc:Field name="Product_Line_Cd_2" type="string" sortable="true"/>
<sfdc:Field name="Product_3" type="string" sortable="true"/>
<sfdc:Field name="Product_Cd_3" type="string" sortable="true"/>
<sfdc:Field name="Product_Detail_4" type="string" sortable="true"/>
<sfdc:Field name="Product_Detail_Cd_4" type="string" sortable="true"/>
<sfdc:Field name="Business_Unit" type="string" sortable="true"/>
<sfdc:Field name="Delivery_Frequency" type="string" sortable="true"/>
<sfdc:Field name="Delivery_Method" type="string" sortable="true"/>
<sfdc:Field name="EffectivefromDateEffectivetoDate" type="string" sortable="true"/>
<sfdc:Field name="Format_Code" type="string" sortable="true"/>
<sfdc:Field name="GL_Product" type="string" sortable="true"/>
<sfdc:Field name="IBM_GBT_L10_Code" type="string" sortable="true"/>
<sfdc:Field name="IBM_GBT_L10_Product_Description" type="string" sortable="true"/>
<sfdc:Field name="IBM_GBT_L15_Code" type="string" sortable="true"/>
<sfdc:Field name="IBM_GBT_L15_Product_Description" type="string" sortable="true"/>
<sfdc:Field name="IBM_GBT_L17_Code" type="string" sortable="true"/>
<sfdc:Field name="IBM_GBT_L17_Product_Description" type="string" sortable="true"/>
<sfdc:Field name="IBM_GBT_L20_Code" type="string" sortable="true"/>
<sfdc:Field name="IBM_GBT_L20_Product_Description" type="string" sortable="true"/>
<sfdc:Field name="IBM_GBT_L30_Product_Description" type="string" sortable="true"/>
<sfdc:Field name="IBM_GBT_Product" type="string" sortable="true"/>
<sfdc:Field name="IBM_GBT_Product_Family" type="string" sortable="true"/>
<sfdc:Field name="IBM_OM_Brand_Code" type="string" sortable="true"/>
<sfdc:Field name="IBM_OM_Prod_Family_Code" type="string" sortable="true"/>
<sfdc:Field name="IBM_Product_Type" type="string" sortable="true"/>
<sfdc:Field name="IBMPublicCatalog" type="string" sortable="true"/>
<sfdc:Field name="IBMRestricted" type="string" sortable="true"/>
<sfdc:Field name="IBMUTL10Code" type="string" sortable="true"/>
<sfdc:Field name="IBMUTL10ProductDescription" type="string" sortable="true"/>
<sfdc:Field name="IBMUTL15Code" type="string" sortable="true"/>
<sfdc:Field name="IBMUTL15Description" type="string" sortable="true"/>
<sfdc:Field name="IBM_UTL15_Product_Description" type="string" sortable="true"/>
<sfdc:Field name="IBMUTL17Code" type="string" sortable="true"/>
<sfdc:Field name="IBMUTL17Description" type="string" sortable="true"/>
<sfdc:Field name="IBM_UTL17_Product_Description" type="string" sortable="true"/>
<sfdc:Field name="IBMUTL20Code" type="string" sortable="true"/>
<sfdc:Field name="IBMUTL20Description" type="string" sortable="true"/>
<sfdc:Field name="IBM_UTL20_Product_Description" type="string" sortable="true"/>
<sfdc:Field name="IBMUTL30Code" type="string" sortable="true"/>
<sfdc:Field name="IBMUTL30Description" type="string" sortable="true"/>
<sfdc:Field name="IBM_UTL30_Product_Description" type="string" sortable="true"/>
<sfdc:Field name="IBM_UTL35_Code" type="string" sortable="true"/>
<sfdc:Field name="IBM_UTL35_Product_Description" type="string" sortable="true"/>
<sfdc:Field name="IBMUTOffering" type="string" sortable="true"/>
<sfdc:Field name="IBM_WW_OC_Brand" type="string" sortable="true"/>
<sfdc:Field name="IBM_WW_OC_Parents" type="string" sortable="true"/>
<sfdc:Field name="Implementation_Sale" type="string" sortable="true"/>
<sfdc:Field name="Inv_Item_ID" type="string" sortable="true"/>
<sfdc:Field name="Is_Module" type="string" sortable="true"/>
<sfdc:Field name="Item_ID_FSCM" type="string" sortable="true"/>
<sfdc:Field name="MapfromCode" type="string" sortable="true"/>
<sfdc:Field name="MaptoCode" type="string" sortable="true"/>
<sfdc:Field name="MarketingAvailableDate" type="string" sortable="true"/>
<sfdc:Field name="MarketingWithdrawnDate" type="string" sortable="true"/>
<sfdc:Field name="Market_Planner_Plus_Sale" type="string" sortable="true"/>
<sfdc:Field name="PipelineReporting" type="string" sortable="true"/>
<sfdc:Field name="PipelineSelection" type="string" sortable="true"/>
<sfdc:Field name="Product_ID" type="string" sortable="true"/>
<sfdc:Field name="Product_ID_18" type="string" sortable="true"/>
<sfdc:Field name="Product_Lib" type="string" sortable="true"/>
<sfdc:Field name="Product_PKG" type="string" sortable="true"/>
<sfdc:Field name="Product_Suite" type="string" sortable="true"/>
<sfdc:Field name="ProductType" type="string" sortable="true"/>
<sfdc:Field name="Recurring_Non_Recurring" type="string" sortable="true"/>
<sfdc:Field name="RevenueReporting" type="string" sortable="true"/>
<sfdc:Field name="RevenueVersion" type="string" sortable="true"/>
<sfdc:Field name="Rev_Type" type="string" sortable="true"/>
<sfdc:Field name="SAP_Material_CD" type="string" sortable="true"/>
<sfdc:Field name="SFDC_Product_ID" type="string" sortable="true"/>
<sfdc:Field name="SigningsReporting" type="string" sortable="true"/>
<sfdc:Field name="SLX_Product_ID" type="string" sortable="true"/>
<sfdc:Field name="UTL30_Description" type="string" sortable="true"/>
<sfdc:Field name="UTParent" type="string" sortable="true"/>
<sfdc:Field name="WH_Product" type="string" sortable="true"/>
<sfdc:Field name="Name" type="string" sortable="true"/>
		</sfdc:RecordType>
	</sfdc:RecordTypes>
	<InputEncoding>UTF-8</InputEncoding>
	<OutputEncoding>UTF-8</OutputEncoding>
	<sfdc:Version>1</sfdc:Version>
</OpenSearchDescription>
